@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vh: 100%; /* Fallback for browsers that don't support dynamic vh */
}

@supports (height: 100dvh) {
  :root {
    --vh: 100dvh; /* Modern browsers supporting dynamic vh */
  }
}

@supports not (height: 100dvh) {
  :root {
    --vh: 100vh; /* Older browsers */
  }
}

/* Hide scrollbar but allow scrolling */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.add-to-contact-btn {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.suspense {
  background-image: url("../../public/suspense_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.suspense::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(93, 0, 255, 0.095); /* Bluish overlay with 50% opacity */
  pointer-events: none; /* Allows clicking through the overlay */
}

.suspense-text {
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: linear-gradient(45deg, orange, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: orange;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
